@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
}

.App {
  background-color: #FAF9F6;
  min-width: 100vh;
  min-height: 100vh;
}