.browse {
    height: 500px;
    background-color: #F4FAF8;
    height: 200%;
  }

  #largelargeText {
    text-align: center;
    width: 350px;
    height: 45px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 15px;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

  #searchtut {
    text-align: center;
    width: 350px;
    height: 45px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 15px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

  .box {
    text-align: center;
    width: 600px;
    height: 40px;
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
  }
  
  .input {
    flex: 3;
    padding: 16px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    border: none;
  }
  
  .button {
    width:100px;
    height: 100%;
    background-color: rgb(31, 178, 223);
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    border: 2px;
    cursor: pointer;
  }

  #results {
    text-align: center;
    width: 350px;
    height: 45px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 15px;
    font-size: 20px;
    margin-right: auto;
    margin-top: 2%;
  }
  #java {
    text-align: right;
    width: 350px;
    height: 45px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 15px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
  }
  #cplusplus {
    text-align: right;
    width: 350px;
    height: 45px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 15px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
  }
  #python {
    text-align: right;
    width: 350px;
    height: 45px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 15px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
  }#htmlcss {
    
    text-align: right;
    width: 350px;
    height: 45px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 15px;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
  }