/*Footer*/
.footer {
    /*margin-top: 12%;*/
    height: 174px;
    background-color: #FAF0DC;
    display: flex;
    width: 100%;
  }
.horz {
  border: 1px solid black;
  height: 1px;
  width: 575%; 
  margin-top: 5.5%;
}
#firstLine {
  margin-left: 5%;
}
#secondLine {
  margin-right: 5%;
}

