@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/*Header*/
#headerLink {
  text-decoration: none;
}

.header {
  display: flex;
  padding: 10px 20px;
  background-color: #F4FAF8;
  width: 100%;
}

.header-container {
  margin-right: auto;
}

#logo {
  max-height: 50px;
  cursor: pointer;
}

.buttons {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Rubik', sans-serif;
}

.auth-btn {
  font-family: 'Rubik', sans-serif;
}

#dashboardB {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 15px;
  margin-right: auto;
}

#dashboardB:focus {
  outline: none;
}

#dashboardB:hover {
  color: #71d5d6;
  background-color: #F4FAF8;
}