@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/*Header*/
#headerLink {
  text-decoration: none;
}

.header {
  display: flex;
  padding: 10px 20px;
  background-color: #F4FAF8;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  z-index: 1;
}

.header-menu {
  display: flex;
}

.header-container {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

#logo {
  max-height: 50px;
  cursor: pointer;
}

.buttons {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Rubik', sans-serif;
}

.auth-btn {
  font-family: 'Rubik', sans-serif;
}