/*Main*/
.main {
    display: flex;
    padding-top: 35px;
  }
  #rectangle {
    width: 626px;
    height: 343px;
    background: #FFFFFF;
    border: 1px solid #B8ACAC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    margin-left: 5%;
  }
  #bigText {
    position: absolute;
    width: 533px;
    height: 150px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: #000000;
  
    margin-left: 3%;
    margin-top: 2.5%;
  }
  #smallText {
    width: 482px;
    height: 113px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
  
    margin-left: 8%;
    margin-top: 24%;
  }
  #studyImg {
    background-image: url('../image/study.png');
    width: 634px;
    height: 343px;
    
    margin-left: 6%;
  }
  