* {
  margin: 0;
}

.app {
  min-height: 80vh;
}

main {
  display: flex;
  justify-content: center;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.form-floating {
  margin: auto;
  width: 300px;
}

.form-signin {
  width: 100%;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

input {
  margin: 10px 0px;
}

.form-signin input[type="name"] {
  margin: 10px 0px;
}

.form-signin input[type="email"] {
  margin: 10px 0px;
}

.form-signin input[type="password"] {
  margin-bottom: 15px;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}