@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Oswald:wght@700&display=swap');
* {
  margin: 0px;
  box-sizing: border-box;
}
.App {
  background-color: #FAF9F6;
}

/*Header*/
.header {
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
}
#logo {
  width: 271px;
  height: 88px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  margin-right: auto;

  cursor: pointer;
}
.cred {
  margin-left: auto;
  margin-top: 10px;
  cursor: pointer;
}
#login {
  box-sizing: border-box;
  width: 115px;
  height: 47px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-left: 850px;
  
}
#signup{
  width: 115px;
  height: 47px;
  background: #FFFFFF;
  border: 3px solid #000000;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  
}

/*Main*/
.main {
  display: flex;
  padding-top: 35px;
}
#rectangle {
  width: 626px;
  height: 343px;
  background: #FFFFFF;
  border: 1px solid #B8ACAC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-left: 5%;
}
#bigText {
  position: absolute;
  width: 533px;
  height: 150px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: #000000;

  margin-left: 3%;
  margin-top: 2.5%;
}
#smallText {
  width: 482px;
  height: 113px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #000000;

  margin-left: 8%;
  margin-top: 24%;
}
#studyImg {
  background-image: url('./image/study.png');
  width: 634px;
  height: 343px;
  
  margin-left: 6%;
}

/*Footer*/
.footer {
  margin-top: 12%;
}
.horz {
  width: 1160px;
  height: 0px;
  border: 2px solid #C5C2C2;
  
  margin-left: 10%;
}
.git {
  width: 33px;
  height: 31px;
  background-image: url('./image/github.png');
  align-self: center;

  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}